* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

/* Navbar left side */
.nav-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.menu {
    padding: 15px;
}

.menu:hover {
    background-color: gainsboro;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
}


/* Middle section */
.search {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 45px;
}

.search>input {
    background-color: transparent;
    border: 0 solid;
    outline: none;
    padding-left: 15px;
    height: 20px;
    width: 350px;
    font-size: 15px;
}

.search-icon {
    background-color: rgb(240, 239, 239);
    padding: 10px 20px;
    border-left: 1px solid gray;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-size: 18px;
}

.middle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mic {
    font-size: 18px;
    background-color: rgb(240, 239, 239);
    padding: 15px 17px;
    border-radius: 35px;
}

.mic:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.search-icon:hover {
    background-color: gainsboro;
    cursor: pointer;
}

/* Right side */
.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    background-color: rgb(240, 239, 239);
    padding: 8px 20px;
    border-radius: 35px;
}

.create:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.profile {
    border: 0 solid gray;
    width: 75px;
    border-radius: 75px;
    cursor: pointer;
}

/* Main Section */
main {
    display: flex;
}

.main-left {
    width: 240px;
    height: 100vh;
}

.main-right {
    width: 1665px;
    height: 100vh;
}

.main-left>button {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.main-left>button:hover {
    background-color: rgb(230, 228, 228);
}

/* Sub navbar creation */
.sub-nav {
    display: flex;
    gap: 20px;
    justify-content: start;
}

.sub-nav>p {
    background-color: gainsboro;
    padding: 5px 10px;
    border-radius: 8px;
}

.sub-nav>p:hover {
    background-color: gray;
    cursor: pointer;
}

.yCards {
    cursor: pointer;
    width: 310px;
}

.yCards>img {
    height: 175px;
    width: 310px;
    border-radius: 15px;
}

.yCards-Des {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 0;
}

.yCards-sub {
    margin: 0 55px;
    color: gray;
}

.Cards {
    display: grid;
    gap: 20px;
    grid-template:
        "a a a a a"
        "b b b b b";
}